</body>
<!--<script>-->
<!--    // Add this script to dynamically set the form action based on user input-->
<!--    document.getElementById("searchForm").addEventListener("submit", function (event) {-->
<!--        const productID = document.getElementById("productID").value;-->
<!--        this.action = `/underwear/${productID}`;-->
<!--    });-->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="getProducts/app.js"></script>
</html>